*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    gap: 5px;
    font-weight: 900;
}
body{
    background: var(--bgBody);
    height: 100dvh;
    display: grid;
    place-content: center;
    --bgCalculator: #444;
    --primaryColor:#3f7;
    --secondColor: #397;
    --deleteColor:#f35;
    --equalColor: #3b7;
    --bgBody:#222;
    --textColor: #fff;
    --textColorPad: #000;
    color: var(--textColor);
}
.number,.zero{
    background: var(--primaryColor);
    color: var(--textColorPad);
}
.divide,.multiply,.left,.rest,.add,.point,.doblue-zero{
    background: var(--secondColor);
    color: var(--textColor);
}
.container{
    background: var(--bgCalculator);
    padding: 30px;
    border-radius: 10px;
    display: grid;
    width: clamp(200px, 100%, 100%);
}
.theme {
    justify-self: right;
    width: clamp(20px, 40px, 60px);
    height: clamp(20px, 40px, 60px);
}
.theme:hover::after{
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}
.display {
    height: clamp(40px, 60px, 100px);
    width: 100%;
    max-width: 290px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: clamp(1rem, 1.5rem, 2rem);
    overflow-x: auto;
}


.button-container {
    display: grid;
    grid-template-areas: 
    "delete divide multiply left"
    "numbers numbers numbers rest"
    "numbers numbers numbers add"
    "numbers numbers numbers equal"
    "point zero doblue-zero equal";

}
.delete {
    grid-area: delete;
    background: var(--deleteColor);
}
.divide {
    grid-area: divide;
}
.multiply {
    grid-area: multiply;
}
.left {
    grid-area: left;
}
button{
    width: clamp(40px, 60px, 90px);
    height: clamp(40px, 60px, 90px);
    border-radius: 50%;
    z-index: 0;
    position: relative;
}
button:hover::after{
    content: '';
    z-index: -10;
    position: absolute;
    display: block;
    background: inherit;
    width: clamp(50px, 70px, 300px);
    height: clamp(50px, 70px, 300px);
    border-radius: 50%;
    border: #000 solid 1px;
    top: -5px;
    left: -5px;
}
.numbers {
    grid-area: numbers;
    display: grid;
    grid-template: subgrid;
    grid-template-columns: 1fr 1fr 1fr;
}
.number {
    
}

.rest {
    grid-area: rest;
}
.add {
    grid-area: add;
}
.equal {
    grid-column: 4/4;
    grid-row: 4/6;
    border-radius: 30px;
    height: clamp(100px, 140px, 600px);
    background: var(--equalColor);
}
.equal:hover::after{
    width: clamp(50px, 70px, 300px);
    height: clamp(110px, 150px, 610px);
    border-radius: 30px;
    position: absolute;
    top: -5px;
    left: -5px;
}
.point {
    grid-area: point;
}
.zero {
    grid-area: zero;
}
.doblue-zero {
    grid-area: doblue-zero;
}

@media (prefers-color-scheme: light) {
    body{
        --bgCalculator: #fff;
        --textColorPad: #fff;
        --primaryColor:#3f7;
        --secondColor: #397;
        --deleteColor:#f35;
        --equalColor: #3b7;
        --bgBody:#222;
        --textColor: #fff;
        --textColorPad: #000;
    }
}